@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@font-face {
	font-family: 'Hacked';
	src: url('../fonts/Hacked Cyr.eot');
	src: local('☺'), url('../fonts/Hacked Cyr.woff') format('woff'), url('../fonts/Hacked Cyr.ttf') format('truetype'), url('../fonts/Hacked Cyr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: 'PT Mono';
}
.main{
    background: url(../img/icons/main-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 110px;
    background-position: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
} 
.header-logo .logo-name{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
}
.btn{
    text-decoration: none;
    border: 2px solid #fff;
    position: absolute;
}
.wrapper{
    border: 2px solid #fff;
    position: relative;
}
.header-btn-wrapper{
    width: 165px;
    height: 50px;
    background-color: #0C1215;
}
.header-btn{
    width: 165px;
    height: 50px;
    color: #fff;
    padding: 12px 11px 15px 15px; 
    background-color: #000;
    top: 3px;
    right: 3px;
    transition: 0.3s;
    border-radius: 0;
}
.header-btn:hover{
    width: 165px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 11px 15px 15px; 
    background-color: #000;
    position: absolute;
    top: -2px;
    right: -2px;
    transition: 0.3s;
}
.header-burger{
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
}
.header-burger .burger{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    left: 0;
    top: 9px;
    transform: rotate(180deg);
}
.burger::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #fff;
    top: -15px;
    left: 0;
}
.burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #fff;
    bottom: -15px;
    left: 0;
}
.intro-content{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: 'Hacked';
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.7);
    color: #fff;
}
.intro-title-large{
    position: relative;
    margin-top: 300px;
    font-size: 153px;
}
.intro-title-small{
    position: relative;
    font-size: 64px;
    margin-top: -50px;
}
.title-wrapper{
    position: absolute;
    font-family: 'Hacked';
    color: #fff;
    mix-blend-mode: overlay;
    font-size: 96px;
    bottom: -6px;
}
.intro-title-wrapper-large{
    font-size: 200px;
    bottom: 5px;
}
.intro-title-wrapper-small{
    font-size: 84px;
    bottom: -3px;
}
.intro-subtitle{
    font-size: 36px;
    color: #fff;
    margin-top: 60px;
}
.intro-join{
    display: flex;
    margin-top: 30px;
}
.intro-btn-wrapper{
    display: inline-block;
    width: 263px;
    height: 50px;
}
.join-wrapper{
    display: flex;
    column-gap: 20px;
    margin-left: 30px;
}
.join-btn{
    width: 263px;
    height: 50px;
    background-color: #fff;
    color: #060F17;
    font-family: 'Hacked';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0 0 0;
    top: 1px;
    right: 1px;
    transition: 0.3s;
    border-radius: 0;
}
.join-btn:hover{
    width: 263px;
    height: 50px;
    background-color: #fff;
    color: #060F17;
    font-family: 'Hacked';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0 0 0;
    top: -1px;
    right: -2px;
    transition: 0.3s;
}
.intro-join img{
    border: 2px solid #FFFFFF;
}
.intro-join-text{
    max-width: 292px;
    font-size: 18px;
    color: #A0AEBB;
}
.subfeatures-title{
    position: relative;
    margin-top: 300px;
    font-size: 64px;
}
.subfeatures-subtitle{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    color: #B9BABE;
    margin-top: 20px;
}

/* Блок с преимуществами */

.features-section{
    background: url(../img/features-section-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 266px;
}
.features-box{
    display: flex;
    flex-direction: column;
}

.feature-img-wrapper{
    width: 165px;
    height: 165px;
    top: -20px;
    left: 20px;
}
.arrow-down{
    position: absolute;
    left: 148px;
    top: 150px;
}
.plus-icon{
    position: absolute;
    left: 144px;
    top: 2px;
}
.right-arrow{
    position: absolute;
    left: 153px;
    top: 40px;
}
.feature-row .osint{
    position: absolute;
    border: 2px solid #FFFFFF;
    max-width: 165px;
    height: 165px;
    top: 20px;
    left: -20px;
}
.feature-row{
    display: flex;
}
.feature-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 128px;
}
.feature-title{
    font-size: 48px;
    text-transform: uppercase;
}
.cybersecurity{
    font-size: 46px;
}
.feature-subtitle{
    display: flex;
    font-size: 18px;
    color: #fff;
    max-width: 750px;
    height: 75px;
    text-shadow: none;
    text-transform: none;
    align-items: flex-end;
}
.features{
    margin: 60px 0 200px 0;
}
.features-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -68.5px;
    justify-content: space-between;
}
.features-column{
    padding: 0 68.5px;
    margin-bottom: 30px;
}
.item-row{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.item-image{
    flex: 0 0 68px;
}
.item-text{
    flex: 1 1 auto;
    font-size: 14px;
    color: #A0AEBB;
    max-width: 360px;
}
.features-button{
    display: flex;
    justify-content: center;
    margin-top: -60px;
}
.features-btn-wrapper{
    width: 263px;
    height: 50px;
}
.features-btn{
    width: 263px;
    height: 50px;
    background-color: #fff;
    color: #060F17;
    font-family: 'Hacked';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0 0 0;
    top: 1px;
    right: 1px;
    transition: 0.3s;
    border-radius: 0;
}
.features-btn:hover{
    width: 263px;
    height: 50px;
    background-color: #fff;
    color: #060F17;
    font-family: 'Hacked';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0 0 0;
    top: -1px;
    right: -2px;
    transition: 0.3s;
    border-radius: 0;
}
.squares-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-top: 80px;
}
.square{
    width: 20px;
    height: 20px;
    border: 3px solid #B9BABE;
}

/* Вторая секция */

.avialables{
    background: url('../img/avialables-section-bcg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 204px;
}
.avialables-title{
    position: relative;
    font-size: 64px;
    color: #060F17;
    padding-top: 114px;
}
.subtitle{
    color: #060F17;
    font-size: 18px;
}
.avialables-subtitle{ 
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}
.avialable-row{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.platf{
    margin-top: 100px;
}
.avialable-body{
    position: relative;
    display: flex;
    flex-direction: column;
}
.huge{
    position: relative;
}
.huge-title{
    width: 851px;
}

.avialable-title{
    font-family: 'Hacked';
    font-size: 36px;
    color: #060F17;
    margin-top: 60px;
}
.avialable-desc{
    padding-top: 30px;
    width: 653px;
}
.pos{
    position: absolute;
    right: 0;
}
.avialable-link-wrapper{
    position: relative;
    margin-top: 40px;
}
.avialable-link{
    position: relative;
    font-size: 24px;
    text-decoration: underline;
    color: #898F9F;
}
.avialable-link:hover{
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.link-img{
    position: absolute;
    top: 11px;
    display: none;
    left: 450px;
}
.courses{
    left: 365px;
}
.master-mind{
    left: 510px;
}
.couch{
    left: 520px;
}
.platform-arrow{
    left: 580px;
}
.lesson-examples{
    left: 380px;
}
.screenshots{
    left: 430px;
}
.link-img:hover{
    display: block;
}
.avialable-link:hover::before{
    content: '+';
    position: absolute;
    width: 10px;
    height: 10px;
    color: #000;
    left: -15px;
    top: -20px;
}
.avialable-link:hover img{
    display: block;
}
.avialable-img-wrapper{
    border: none; 
}
.course{
    margin-top: 60px;
}
.list{
    width: 727px;
}
.listed{
    margin-left: -74px;
}
.helper{
    margin-top: 50px;
}
.circle{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    left: 345px;
    top: 20px;
}
.platf-circle{
    left: 1055px;
}
.circle::before{
    position: absolute;
    content: '';
    left: 30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}
.circle::after{
    position: absolute;
    content: '';
    right: 30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}
.platform{
    padding-top: 50px;
    display: flex;
    width: 100%;
    column-gap: 30px;
}

.desc-f{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 263px;
    background-color: #000;
    padding: 30px 0px 34px 30px;
}
.corner{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 235px;
    top: 154px;
}
.f-title{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.f-subtitle{
    font-size: 14px;
    color: #B9BABE;
    padding-top: 10px;
}
.desc-body{
    position: absolute;
    width: 849px;
    height: 206px;
    background-color: #000;
    bottom: 10px;
    right: 20px;
    padding-left: 30px;
}
.corner-quest{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 820px;
    top: 175px;
}
.desc-body-wrapper{
    position: relative;
    width: 849px;
    height: 206px;
    left: 20px;
    border: 3px solid #000;
}
.desc-text{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding-top: 30px;
}
.sign-up-btn-wrapper{
    width: 360px;
    height: 56px;
    background-color: #000;
    border: 2px solid #fff;
    margin-top: 30px;
}
.sign-up-btn{
    width: 360px;
    height: 56px;
    font-family: 'Hacked';
    text-transform: uppercase;
    padding: 17px 0 0 0;
    color: #060F17;
    background-color: #fff;
    font-size: 18px;
    top: 5px;
    right: 3px;
    border-radius: 0;
    transition: 0.3s;
}
.sign-up-btn:hover{
    width: 360px;
    height: 56px;
    font-family: 'Hacked';
    text-transform: uppercase;
    padding: 17px 0 0 0;
    color: #060F17;
    background-color: #fff;
    font-size: 18px;
    top: -1px;
    right: -1px;
    border-radius: 0;
    transition: 0.3s;
}
.plus{
    position: absolute;
    left: 852px;
    top: 17px;
}
.ar-d{
    position: absolute;
    left: 852px;
    bottom: 0px;
}
.avialable-squares{
    display: flex;
    column-gap: 40px;
    margin-top: 90px;
}

/* --------------- */
/* Секция с ценами */

.prices{
    background: url('../img/price-bcg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
}

/* заголовок секции */
.prices-title{
    position: relative;
    font-size: 64px;
    padding-top: 180px;
}
/* блок с перечислениями (1-5) */
.prices-features{
    display: flex;
    margin-top: 77px;
}
.first-col-f{
    display: flex;
    flex-direction: column;
}
.price-f{
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}
.f-num-wrapper{
    position: relative;
    display: flex;
    font-family: 'Hacked';
    font-size: 96px;
    color: #C4C4C4;
    margin-right: 54px;
}
.one-wrapper{
    margin-right: 65px;
}
.two-wrapper{
    margin-right: 57px;
}
.three-wrapper{
    margin-right: 52px;
}
.f-num{
    position: absolute;
    font-size: 144px;
    font-family: 'Hacked';
    color: #B9BABE;
    height: 166px;
    display: flex;
    align-items: flex-end;
    mix-blend-mode: overlay;
    left: 6px;
}
.one-f-num{
    left: 30px;
}
.f-desc{
    font-size: 18px;
    color: #A0AEBB;
    max-width: 360px;
    padding-top: 30px;
}
.second-col-f{
    margin-left: 30px;
}
/* блок с колонками цен */
.prices-block-row{
    display: flex;
    margin-top: 100px;
    column-gap: 30px;
    position: relative;
}
.price-block{
    background-color: #B9BABE;
    max-width: 263px;
    height: 263px;
    padding: 20px;
}
/* период рассрочки */
.sub-period{
    font-family: 'Hacked';
    font-size: 24px;
    color: #060F17;
}
/* стоимость */
.price{
    font-weight: 700;
    font-size: 44px;
    color: #060F17;
}
.one-month{
    font-size: 48px;
}
.month-btn{
    margin-top: 60px;
}
.three-month-btn{
    margin-top: 67px;
}
/* Кнопка "Оплатить" (вместе с оберткой) */
.price-btn-wrapper{
    width: 223px;
    height: 56px;
    border: 3px solid #060F17;
}
.price-btn{
    width: 223px;
    height: 56px;
    transition: 0.3s;
    font-family: 'Hacked';
    font-size: 36px;
    color: #fff;
    right: 5px;
    top: 5px;
    text-transform: uppercase;
    border-radius: 0;
    border-color: #060F17;
    background-color: #060F17;
}
.price-btn:hover{
    width: 223px;
    height: 56px;
    transition: 0.3s;
    font-family: 'Hacked';
    font-size: 36px;
    color: #fff;
    right: -3px;
    top: -3px;
    text-transform: uppercase;
    border-radius: 0;
    border-color: #060F17;
    background-color: #000;
}
.surprise{
    font-size: 18px;
    line-height: 20px;
    color: #060F17;
    margin-top: 10px;
}
.half-year-btn, .year-btn{
    margin-top: 35px;
}
.subscription{
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
/* блок на полгода */
.half-year-wrapper{
    width: 263px;
    height: 263px;
    top: -40px;
    right: -20px;
    border: 2px solid #fff;
}
.half-year-block{
    max-width: 263px;
    height: 263px;
    background-color: #ECECEC;
    position: absolute;
    top: 40px;
    right: 20px;
}
/* блок на год */
.year-wrapper{
    width: 263px;
    height: 263px;
    top: -40px;
    right: -20px;
    border: 2px solid #fff;
}
.year-block{
    max-width: 263px;
    height: 263px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 20px;
}
/* -------------- */
/* Верстка футера */
.footer{
    background-color: #08100F;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.about-businessman{
    margin-top: 40px;
}
.personal-data{
    max-width: 260px;
    font-size: 16px;
    color: #B9BABE;
}
.confident-link{
    margin-top: 20px;
}
.footer-link{
    padding-top: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #A0AEBB;
    display: block;
}
.footer-link:hover{
    color: #fff;
}
.footer-img-wrapper{
    margin-top: 27px;
}
.footer-img-wrapper img{
    position: absolute;
    transform: translate(-50%, -50%);
}
.contacts{
    margin-top: 40px;
}
.contacts-title{
    font-family: 'Hacked';
    font-size: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #B9BABE;
}
.contact-row{
    display: flex;
    column-gap: 10px;
    margin-top: 7px;
}
.contact{
    font-size: 18px;
    color: #B9BABE;
    text-decoration: none;
}
.contact:hover{
    cursor: pointer;
    color: #fff;
}

@media(max-width: 360px){
    .header{
        justify-content: space-around;
    }
    .header-btn-wrapper{
        display: none;
    }
    .header-btn{
        display: none;
    }
    .header-burger{
        display: block;
        top: 15px;
        /* margin-left: 50px; */
    }
    .main{
        background: url(../img/main-bcg-mobile.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    .title{
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
    }
    .intro-title-large{
        font-size: 81px;
    }
    .intro-title-small{
        font-size: 34px;
        margin-top: -35px;
    }
    .title-wrapper{
        font-size: 66px;
    }
    .intro-title-wrapper-large{
        font-size: 121px;
    }
    .intro-title-wrapper-small{
        font-size: 51px;
    }
    .intro-subtitle{
        font-size: 18px;
        margin-top: 20px;
    }
    .intro-join{
        flex-wrap: wrap;
    }
    .intro-join img{
        width: 60px;
        height: 60px;
    }
    .intro-join-text{
        font-size: 14px;
        max-width: 168px;
    }
    .join-wrapper{
        justify-content: flex-start;
        margin-top: 15px;
        margin-left: 0;
    }
}
